{{> head }}
{{> navbar }}


<dir class="row">
    <div class="col-8">

        <h1>Barbarita</h1>
        <p>Esta belleza es barbarita palvin</p>

    </div>
    <div class="col-4">
        <img src="assets/img/barbara.jpg" class="img-thumbnail">
    </div>
</dir>


{{> footer }}